# Jayden Jayawardhena

## Research question/interests

I am interested in which metal oxides were more present at given seasons throughout the year.

In [35]:
import pandas as pd

data = pd.read_csv("../data/raw/AirQuality.csv",sep=';')
data = data.drop(['Unnamed: 15','Unnamed: 16'],axis=1)
shape = data.shape
for column in data:
    print(data[column])

0       10/03/2004
1       10/03/2004
2       10/03/2004
3       10/03/2004
4       10/03/2004
           ...
9466           NaN
9467           NaN
9468           NaN
9469           NaN
9470           NaN
Name: Date, Length: 9471, dtype: object
0       18.00.00
1       19.00.00
2       20.00.00
3       21.00.00
4       22.00.00
          ...
9466         NaN
9467         NaN
9468         NaN
9469         NaN
9470         NaN
Name: Time, Length: 9471, dtype: object
0       2,6
1         2
2       2,2
3       2,2
4       1,6
       ...
9466    NaN
9467    NaN
9468    NaN
9469    NaN
9470    NaN
Name: CO(GT), Length: 9471, dtype: object
0       1360.0
1       1292.0
2       1402.0
3       1376.0
4       1272.0
         ...
9466       NaN
9467       NaN
9468       NaN
9469       NaN
9470       NaN
Name: PT08.S1(CO), Length: 9471, dtype: float64
0       150.0
1       112.0
2        88.0
3        80.0
4        51.0
        ...
9466      NaN
9467      NaN
9468      NaN
9469      NaN
9470      NaN
Name: NMHC(GT), Length: 9471, dtype: float64
0       11,9
1        9,4
2        9,0
3        9,2
4        6,5
        ...
9466     NaN
9467     NaN
9468     NaN
9469     NaN
9470     NaN
Name: C6H6(GT), Length: 9471, dtype: object
0       1046.0
1        955.0
2        939.0
3        948.0
4        836.0
         ...
9466       NaN
9467       NaN
9468       NaN
9469       NaN
9470       NaN
Name: PT08.S2(NMHC), Length: 9471, dtype: float64
0       166.0
1       103.0
2       131.0
3       172.0
4       131.0
        ...
9466      NaN
9467      NaN
9468      NaN
9469      NaN
9470      NaN
Name: NOx(GT), Length: 9471, dtype: float64
0       1056.0
1       1174.0
2       1140.0
3       1092.0
4       1205.0
         ...
9466       NaN
9467       NaN
9468       NaN
9469       NaN
9470       NaN
Name: PT08.S3(NOx), Length: 9471, dtype: float64
0       113.0
1        92.0
2       114.0
3       122.0
4       116.0
        ...
9466      NaN
9467      NaN
9468      NaN
9469      NaN
9470      NaN
Name: NO2(GT), Length: 9471, dtype: float64
0       1692.0
1       1559.0
2       1555.0
3       1584.0
4       1490.0
         ...
9466       NaN
9467       NaN
9468       NaN
9469       NaN
9470       NaN
Name: PT08.S4(NO2), Length: 9471, dtype: float64
0       1268.0
1        972.0
2       1074.0
3       1203.0
4       1110.0
         ...
9466       NaN
9467       NaN
9468       NaN
9469       NaN
9470       NaN
Name: PT08.S5(O3), Length: 9471, dtype: float64
0       13,6
1       13,3
2       11,9
3       11,0
4       11,2
        ...
9466     NaN
9467     NaN
9468     NaN
9469     NaN
9470     NaN
Name: T, Length: 9471, dtype: object
0       48,9
1       47,7
2       54,0
3       60,0
4       59,6
        ...
9466     NaN
9467     NaN
9468     NaN
9469     NaN
9470     NaN
Name: RH, Length: 9471, dtype: object
0       0,7578
1       0,7255
2       0,7502
3       0,7867
4       0,7888
         ...
9466       NaN
9467       NaN
9468       NaN
9469       NaN
9470       NaN
Name: AH, Length: 9471, dtype: object